/* layout.scss */
* {
  box-sizing: border-box; }

.container {
  max-width: 1675px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* ba-grid */
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align-last: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

/* style.scss */
body {
  font-family: "Montserrat", sans-serif;
  color: #fff; }

html {
  overflow-x: hidden; }

img {
  max-width: 100%; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

/* ba-header */
.ba-header {
  position: absolute;
  width: 100%;
  padding-top: 35px;
  z-index: 1; }
  .ba-header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.ba-social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }
  .ba-social__item + .ba-social__item {
    margin-left: 20px; }
  .ba-social__link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ad99fc;
    border-radius: 50%; }
    .ba-social__link:hover {
      color: blue; }
  .ba-social__link svg {
    width: 16px;
    height: 16px; }

.ba-menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0; }
  .ba-menu__link::before {
    content: "";
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    margin-right: 14px; }
  .ba-menu__link:hover::before, .ba-menu__link:active::before {
    background-color: #fff; }
  .ba-menu__item + .ba-menu__item {
    margin-left: 70px; }
  .ba-menu__link {
    font-size: 0.875rem;
    font-weight: normal;
    text-decoration: none;
    color: #fff; }

/* ba-hero */
.ba-hero {
  color: #fff;
  min-height: 100vh;
  background-image: linear-gradient(to bottom left, #7e5bff, #55b7ff);
  position: relative; }
  .ba-hero__slide {
    min-height: 100vh;
    display: flex !important;
    align-items: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; }
    .ba-hero__slide:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.9);
      opacity: 0.5; }
    .ba-hero__slide1 {
      background-image: url(../img/1.jpg); }
    .ba-hero__slide2 {
      background-image: url(../img/2.jpg); }
    .ba-hero__slide3 {
      background-image: url(../img/3.jpg); }
    .ba-hero__slide4 {
      background-image: url(../img/4.jpg); }
    .ba-hero__slide5 {
      background-image: url(../img/5.jpg); }
  .ba-hero__text-wrap {
    position: absolute;
    right: 0;
    left: 0;
    bottom: calc(100vh - 60%);
    margin: 0 auto;
    text-align: center; }
  .ba-hero__title {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0; }
  .ba-hero__text {
    font-size: 1.125rem;
    font-weight: normal;
    letter-spacing: 0.3em;
    margin: 0; }
  .ba-hero__btn {
    width: 210px;
    height: 50px;
    color: #fff;
    background-color: inherit;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-image: initial;
    margin-top: 20px; }
    .ba-hero__btn:hover {
      background-color: #fff;
      color: #2c4058; }
  .ba-hero .slick-dots {
    bottom: 20px; }
  .ba-hero .slick-dots li {
    margin-top: 30px; }

.slick-dots li button:before {
  opacity: 1;
  content: "";
  border: 1px solid #fff;
  border-radius: 50%;
  width: 9px;
  height: 9px; }

.slick-dots li:hover button:before {
  background-color: #fff; }

.slick-dots li.slick-active button:before {
  background-color: #fff;
  opacity: 1; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

/* ba-about */
.ba-about {
  height: 100%;
  color: #000;
  text-align: left;
  padding-top: 20px; }
  .ba-about__info {
    padding-top: 80px; }
  .ba-about__thumb:nth-child(1) {
    padding-left: 65px; }
  .ba-about__thumb:nth-child(2) {
    padding-left: 190px;
    padding-bottom: 120px; }
  .ba-about__img {
    max-width: 100%; }

.ba-btn-about {
  width: 210px;
  height: 50px;
  color: #000;
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  border-image: initial;
  margin-top: 20px; }

.ba-btn-about:hover {
  background-color: #2c4058;
  color: #fff; }
