/* style.scss */
body {
  font-family: "Montserrat", sans-serif;
  color: #fff; }

html {
  overflow-x: hidden; }

img {
  max-width: 100%; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

/* ba-header */
.ba-header {
  position: absolute;
  width: 100%;
  padding-top: 35px;
  z-index: 1; }
  .ba-header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.ba-social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }
  .ba-social__item + .ba-social__item {
    margin-left: 20px; }
  .ba-social__link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ad99fc;
    border-radius: 50%; }
    .ba-social__link:hover {
      color: #13e03a; }
  .ba-social__link svg {
    width: 16px;
    height: 16px; }

.ba-menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0; }
  .ba-menu__link {
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
    color: #fff; }
  .ba-menu__link::before {
    content: "";
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    margin-right: 14px; }
  .ba-menu__link:hover::before, .ba-menu__link:active::before {
    background-color: #fff; }
  .ba-menu__item + .ba-menu__item {
    margin-left: 70px; }

/* ba-hero */
.ba-hero {
  color: #fff;
  min-height: 100vh;
  background-image: linear-gradient(to bottom left, #7e5bff, #55b7ff);
  position: relative; }
  .ba-hero__slide {
    min-height: 100vh;
    display: flex !important;
    align-items: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; }
    .ba-hero__slide:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.9);
      opacity: 0.5; }
    .ba-hero__slide1 {
      background-image: url(../img/1.jpg); }
    .ba-hero__slide2 {
      background-image: url(../img/2.jpg); }
    .ba-hero__slide3 {
      background-image: url(../img/3.jpg); }
    .ba-hero__slide4 {
      background-image: url(../img/4.jpg); }
    .ba-hero__slide5 {
      background-image: url(../img/5.jpg); }
  .ba-hero__text-wrap {
    position: absolute;
    right: 0;
    left: 0;
    bottom: calc(100vh - 65%);
    margin: 0 auto;
    text-align: center; }
  .ba-hero__title {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0; }
  .ba-hero__text {
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: 0.3em;
    margin: 0; }
  .ba-hero__btn {
    width: 210px;
    height: 50px;
    color: #fff;
    background-color: inherit;
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-image: initial;
    margin-top: 20px; }
    .ba-hero__btn:hover {
      background-color: #fff;
      color: #2c4058; }
  .ba-hero .slick-dots {
    bottom: 20px; }
  .ba-hero .slick-dots li {
    margin-top: 30px; }

.slick-dots li button:before {
  opacity: 1;
  content: "";
  border: 1px solid #fff;
  border-radius: 50%;
  width: 9px;
  height: 9px; }

.slick-dots li:hover button:before {
  background-color: #fff; }

.slick-dots li.slick-active button:before {
  background-color: #fff;
  opacity: 1; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

/* ba-about */
.ba-about {
  height: 100%;
  color: #000;
  text-align: left;
  padding-top: 40px; }
  .ba-about__info {
    padding-top: 50px; }
  .ba-about__title {
    font-size: 1.375rem;
    font-weight: 500;
    color: #c4c4c4;
    letter-spacing: 0.14em; }
  .ba-about__text-header {
    font-size: 1.875rem;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.14em; }
  .ba-about__text {
    font-size: 1.375rem;
    font-weight: 400;
    color: #a8a8a8;
    letter-spacing: 0.14em; }

.ba-btn-about {
  width: 210px;
  height: 50px;
  color: #000;
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  border-image: initial;
  margin-top: 30px; }

.ba-btn-about:hover {
  background-color: #2c4058;
  color: #fff; }

/*ba-photos*/
.ba-section__header {
  text-align: center;
  color: #000;
  margin: 70px 0 50px 0; }

.ba-info__title {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.24em; }

.ba-info__text {
  font-size: 1.375rem;
  font-weight: 500;
  color: #5b5b5c;
  letter-spacing: 0.14em; }

.ba-foto__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center; }

.ba-photos-list .ba-col-4 {
  padding: 15px; }

/*ba-travel*/
.ba-travel__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center; }

.ba-travel__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
  margin: 50px 0 25px 0; }

.ba-travel__text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0.2em;
  color: #848484; }

.ba-btn-travel {
  background-color: #dddcdc;
  border: none; }

/*ba-next*/
.ba-next {
  padding-top: 100px; }

/*ba-form*/
.ba-form {
  padding: 90px 0;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .ba-form__title {
    font-size: 1.875rem;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.14em;
    line-height: 41px;
    margin: 0; }
  .ba-form__desc {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.14em;
    color: #848485; }
  .ba-form__input {
    font-size: 14px;
    font-weight: 400;
    color: #3a4047;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f4f4f4;
    border: 1px solid #7a7a7a;
    display: block;
    width: 100%; }
  .ba-form__submit {
    background-color: #3a4047;
    border: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding: 0 1.5em;
    transition: 0.4s;
    width: 100%;
    margin-bottom: 15px; }
    .ba-form__submit:hover {
      opacity: 0.75; }
    .ba-form__submit:active {
      opacity: 0.5; }

/*ba-footer*/
.ba-footer {
  margin-bottom: 100px;
  color: #000;
  text-align: center;
  text-transform: uppercase; }

.ba-menu__down {
  justify-content: center;
  margin: 80px 0; }

.ba-menu__link-down {
  color: #000;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0.14em; }

.ba-footer-copyright {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.34em; }
